a {
    text-decoration: none;
}
ul{
    list-style-type: none;
    display: inline;
    float: right;
}
li {
    display: inline;
    margin-right: 20px;
    margin-left: 10px;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 2pt;
    cursor: pointer;
    
    
}
 ul li a:hover {
    background-color: gray;
}
header div a:hover {
    background-color: gray;
}
#logo{
    float: left;
    margin-top:20px;
    margin-left: 20px;
    font-family: Verdana,sans-serif;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 2pt;
    margin-bottom: 20px;
}

.navbar {
    display: inline;
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; 
    -webkit-box-shadow: 9px 2px 13px 1px rgba(0,0,0,0.44);
    -moz-box-shadow: 9px 2px 13px 1px rgba(0,0,0,0.44);
    box-shadow: 9px 2px 13px 1px rgba(0,0,0,0.44);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    text-align: center;
    font-family: Verdana,sans-serif;
    letter-spacing: 2pt;

}
main b{
    background-color: #121110;
    padding: 20px;
    opacity: 50%;
    letter-spacing: 2pt;
}

.projects{
    letter-spacing: 2pt;
    margin-top: 100px;
    border-bottom: gray;
    font-family: Verdana,sans-serif;
    border-bottom: 1px solid #bdc7c0;
    padding: 20px;

}
#house {
    display: inline;
    width: 320px;
}
span {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
}
.parigraph {
    font-family: Verdana,sans-serif;
    margin-bottom: 60px;
}
.employee{
    
    width: 320px;

}
table tbody tr th {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    text-align: left;
}
table tbody tr th h4 {
    color: gray;
}
table tbody tr th h2 {
    border-bottom: 1px solid #bdc7c0;
}

#button {
    background-color: #bdc7c0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    width: 100%;
    color: black;
}
.w3-border {
    border: 1px solid #ccc!important;
}
.w3-input {
        padding: 8px;
        display: block;
        border: none;
        border-bottom: 1px solid #ccc;
        width: 100%;
}

button, input {
    overflow: visible; 
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical; 
}

.button1 {
    background-color: black;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.font{
    font-family: Verdana,sans-serif;
}
footer {
    background-color: black;
    text-align: center;
    
    color: white;
    font-size: medium;
    font-family: Verdana,sans-serif;
    padding: 100px;
    padding-left: 200px;


}
a:link {
   color: white;
  }
  footer a {
  text-decoration: underline;
  }